include ./../components/hero/_hero
include ./../components/catalog/_catalog
include ./../components/about/_about
include ./../components/quiz/_quiz
include ./../components/team/_team
include ./../components/faq/_faq
include ./../components/contacts/_contacts
include ./../components/insta/_insta
