section.about
    img.about__figure(src='img/figure.svg' aria-hidden='true')
    .about__container.container
        .about__text
            h2.title.about__title Пара слов о нас
            p.about__descr
                q.about__quote
                    | Спорт держит нас в&nbsp;форме. Учит дисциплине. Объединяет нас. Через спорт мы&nbsp;можем менять жизни. В&nbsp;том числе с&nbsp;помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и&nbsp;двигаться вперед.
                cite.about__author SneakMax
        .about__image
            img(src='./img/about.jpg' aria-hidden=true)
