section.quiz
    h2.visually-hidden Подбор товара
    .quiz__container.container
        .quiz__content
            h3.quiz__title.title Мы подберем идеальную пару для вас
            p.quiz__descr Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями
            form.quiz-form
