section.hero
    span.hero__bg-text(aria-hidden='true') SneakMax
    .hero__container.container
        h1.hero__title Кроссовки известных брендов с&nbsp;доставной по России и СНГ
        p.hero__descr
            | Мы продаем кроссовки брендов Nike, Adidas, Puma, Reebok, Converse и многие другие по низким ценам
        button.btn.btn--primary.js-move-to Перейти к покупкам
