section.faq
    .faq__container.container
        h2.title.faq__title Часто задаваемые вопросы
        ul.faq__list.list-reset
            li.faq-accordion
                button.faq-accordion__control.btn-reset(aria-expanded='false')
                    span.faq-accordion__title Вопрос 1
                    span.faq-accordion__icon
                .faq-accordion__content(aria-hidden='true')
                    p А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми
            li.faq-accordion
                button.faq-accordion__control.btn-reset(aria-expanded='false')
                    span.faq-accordion__title Вопрос 2
                    span.faq-accordion__icon
                .faq-accordion__content(aria-hidden='true')
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, beatae!
                    | Labore, tenetur. Id culpa quas, eos magnam quos laboriosam quasi.

