.modal
    .modal__container.prod-modal(role='dialog' aria-modal='true' data-graph-target='prod-modal')
        button.btn-reset.modal__close(aria-label='Закрыть модальное окно')
        .modal-content
            .prod-modal__top
                .modal-slider
                    .modal-slider__container
                        .swiper-wrapper
                            .swiper-slide
                                img(src='img/image.jpeg')
                            .swiper-slide
                                img(src='img/image.jpeg')
                            .swiper-slide
                                img(src='img/image.jpeg')
                    .modal-slider__preview.modal-preview
                        .modal-preview__item
                            img(src='img/image.jpeg' data-index='0')
                        .modal-preview__item
                            img(src='img/image.jpeg' data-index='1')
                        .modal-preview__item
                            img(src='img/image.jpeg' data-index='2')
                .modal-info
                    .modal-info__top
                        span.modal-info__vendor Артикул: 879876
                        span.modal-info__quantity В наличии:
                            span 13 шт
                    .modal-info__wrapper

                        h3.modal-info__title Женские кроссовки Puma Force 1 Shadow
                        .modal-info__rate
                            img(src='img/star.svg' alt='Рейтинг 5 из 5')
                            img(src='img/star.svg' alt="")
                            img(src='img/star.svg' alt="")
                            img(src='img/star.svg' alt="")
                            img(src='img/star.svg' alt="")
                        .modal-info__sizes
                            span.modal-info__subtitle Выберите размер
                            ul.list-reset.modal-info__sizes-list.modal-sizes
                                li.modal-sizes__item
                                    button.modal-sizes__btn.btn-reset 36
                                li.modal-sizes__item
                                    button.modal-sizes__btn.btn-reset 36
                                li.modal-sizes__item
                                    button.modal-sizes__btn.btn-reset 36
                                li.modal-sizes__item
                                    button.modal-sizes__btn.btn-reset 36
                                li.modal-sizes__item
                                    button.modal-sizes__btn.btn-reset 36
                        .modal-info__price
                            span.modal-info__current-price 19 789
                            span.modal-info__old-price 20 578
                    button.btn.btn-reset.btn--primary.modal-info__order Заказать
                    ul.modal-info__note.modal-note.list-reset
                        li.modal-note__item Бесплатная доставка до двери
                        li.modal-note__item Оплата заказа при получении
                        li.modal-note__item Обмен в течении двух недель

            .prod-modal__bottom
                .prod-modal__bottom.prod-bottom
                    .prod-bottom__column
                        h3.prod-bottom__title Описание
                        p.prod-bottom__descr.modal-prod-descr
                            | Кроссовки Nike Blazer Mid '77 Vintage Suede с винтажной подошвой возрождают стиль баскетбольных моделей Nike прошлого, создавая впечатление, что они хранились в шкафу долгие годы.
                    .prod-bottom__column
                        h3.prod-bottom__title Характеристики
                        .prod-chars
                            p.prod-bottom__descr.prod-chars__item Пол:Мужской
                            p.prod-bottom__descr.prod-chars__item Цвета: Разноцветный
                            p.prod-bottom__descr.prod-chars__item Состав: Кожа, текстиль, резина
                            p.prod-bottom__descr.prod-chars__item Страна: Вьетнам
                .prod-modal__video
                    iframe( src='https://www.youtube.com/embed/oBAzK89eYgQ'  allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .modal__container.cart-modal(role='dialog' aria-modal='true' data-graph-target='cart-modal')
        button.btn-reset.modal__close(aria-label='Закрыть модальное окно')
        .modal-content
            .cart-modal__top
                h2.cart-modal__title Оформление заказа
                span.cart-modal__order-number Заказ 345667
            .cart-modal-order
                .cart-modal-order__top
                    .cart-modal-order__quantity Товаров в заказе:
                        span 3 шт
                    .cart-modal-order__sum Общая сумма заказа:
                        span 25 789 р
                    .cart-modal-order__content
                        button.btn-reset.cart-modal-order__show Состав заказа
                            svg
                                use(href='img/sprite.svg#chevron')
                    ul.cart-modal-order__list.list-reset
                        li.cart-modal-order__item
                            article.cart-modal-order__product.cart-modal-product
                                .cart-modal-product__image
                                    img(src='img/image.jpeg' alt='')
                                .cart-modal-product__content
                                    .cart-modal-product__text
                                        h3.mini-product__title
                                            | Женские кроссовки Puma Force 1 Shadow
                                        span.cart-modal-product__price 8 678 р
                                    button.btn-reset.cart-modal-product__delete(aria-label='Удалить товар')
                                        | Удалить

            form.cart-modal__form
                input.input.cart-modal__input(name='name' type='text' placeholder='Ваше имя')
                input.input.cart-modal__input(name='tel' type='tel' placeholder='Номер телефона')
                input.input.cart-modal__input(name='email' type='email' placeholder='E-mail')
                button.btn.btn--primary.cart-modal__btn Оформить заказ
