section.instagram
    h2.visually-hidden Форма и инстаграм-лента
    .container.instagram__container
        .instagram__left
            form(action='#').callback-form
                h3.title.instagram__title Есть вопросы?
                p.instagram__descr
                    | Заполните форму и наш менеджер свяжется с вами
                label.form-label
                    input(type='text' placeholder='Ваше имя' data-validate-field="name" name="name").input.instagram__input
                label.form-label
                    input(type='tel' placeholder='Номер телефона' data-validate-field="phone" name="phone").input.instagram__input
                button(type='submit').btn.btn--primary.instagram__btn Отправить
        .instagram__right
            a(href='#').instagram__link
                img(src='img/instagram.png' alt='Лого инстаграма')
            .instagram__content
                article.instagram__item
                    a(href='#').instagram__link
                        h3.instagram__subtitle.visually-hidden
                            | Photo of everything
                        img(src='img/insta-1.jpg' alt='')
                article.instagram__item
                    a(href='#').instagram__link
                        h3.instagram__subtitle.visually-hidden
                            | Photo of everything
                        img(src='img/insta-2.jpg' alt='')
                article.instagram__item
                    a(href='#').instagram__link
                        h3.instagram__subtitle.visually-hidden
                            | Photo of everything
                        img(src='img/insta-3.jpg' alt='')
                article.instagram__item
                    a(href='#').instagram__link
                        h3.instagram__subtitle.visually-hidden
                            | Photo of everything
                        img(src='img/insta-4.jpg' alt='')
                article.instagram__item
                    a(href='#').instagram__link
                        h3.instagram__subtitle.visually-hidden
                            | Photo of everything
                        img(src='img/insta-5.jpg' alt='')
