section.instagram
    h2.visually-hidden Форма и инстаграм-лента
    .container.instagram__container
        .instagram__left
            form.callback-form
                h3.title.instagram__title Есть вопросы?
                p.instagram__descr
                    | Заполните форму и наш менеджер свяжется с вами
                input(type='text' placeholder='Ваше имя').input.instagram__input
                input(type='tel' placeholder='Номер телефона').input.instagram__input
                button(type='submit').btn.btn--primary.instagram__btn Отправить
        .instagram__right
            a(href='#').instagram__link
                img(src='img/instagram.png' alt='Лого инстаграма')
            .instagram__content
