.catalog {
  padding: var(--big-offset) 0;

  &__reset {
    transition: color 0.3s ease-in-out;

    @include desktop {
      &:hover,
      &:focus {
        color: var(--color-accent);
      }
    }
  }

  &__apply {
    margin-bottom: var(--second-offset);
    width: 100%;
  }

  &__more {
    margin-top: var(--big-offset);
  }

  &__left {
    grid-column: 3 span;

    @include tablet {
      display: none;
    }
  }

  &__subtitle {
    margin: 0 0 var(--second-offset);
    font: var(--prehigh-book);
    color: var(--color-main);
  }

  &__caption {
    display: block;
    margin-bottom: var(--small-offset);
    font: var(--middle-book);
    color: var(--color-main);
  }

  &__prop {
    margin-bottom: var(--second-offset);
  }

  &__prop-checkboxes {
    display: flex;
    justify-content: space-between;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span;

    @include tablet {
      grid-column: 12 span;
    }
  }
}

.catalog-list {
  @include list-reset;

  grid-template-columns: repeat(9, 1fr);

  &__item {
    grid-column: 3 span;

    &:focus-within {
      .product__buttons {
        visibility: visible;
        opacity: 1;
      }
    }

    @include mobile {
      grid-column: 4 span;
    }


  }

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog-filters {
  border-radius: 4px;
  padding: var(--second-offset);
  background-color: var(--color-bg);

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.catalog-price {
  .noUi-horizontal {
    height: 2px;
  }

  .noUi-target {
    border: none;
    box-shadow: none;
    background-color: var(--color-main);
  }

  .noUi-connect {
    background-color: var(--color-main);
  }

  .noUi-handle {
    right: 0;
    top: -8px;
    border: none;
    border-radius: 100px;
    width: 3px;
    height: 18px;
    box-shadow: none;
    background-color: var(--color-main);
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }

    &-lower {
      right: -3px;
    }
  }
}

.catalog-price__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    bottom: 8px;
    width: 1px;
    height: 34px;
    background-color: var(--color-gray);
    transform: translateX(-50%);
  }
}

.catalog-price__input {
  border: 1px solid var(--color-gray);
  width: 50%;
  height: 50px;
  font: var(--middle-book);
  text-align: center;
  color: var(--color-main);
  background-color: transparent;

  &:focus {
    outline: none;
    background-color: var(--color-cameo);
  }

  &:first-child {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.noUi-handle {
  &:focus {
    outline: none;
    background-color: var(--color-accent);
  }
}
