.faq-accordion {
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);

  &:not(:first-child) {
    margin-top: -1px;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    font: var(--prehigh-regular);
    color: var(--color-main)
  }

  &__content {
    font: var(--middle-book);
    color: rgba(36, 36, 36, 0.5);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-right: 70px;
    padding-bottom: 0;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;

    .open & {
      opacity: 1;
      padding-bottom: 18px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.17em;
  }

  &__icon {
    display: inline-block;
    transition: transform 0.3s ease-out;
    width: 25px;
    height: 25px;
    background-image: url('../img/sprite.svg#cross');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(45deg);

    .open & {
      transform: rotate(0);
    }
  }


}
