.quiz {
  padding: var(--big-offset) 0;

  &__content {
    border-radius: 4px;
    padding: var(--main-offset) 100px;
    background-color: var(--color-bg);

    @include small-tablet {
      padding: var(--main-offset);
    }
  }

  &__title {
    margin-bottom: var(--second-offset);
  }

  &__descr {
    margin: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: var(--small-offset);
    font: var(--middle-book);
    color: var(--color-jumbo);
  }
}

.quiz-questions {
  padding: var(--second-offset) 0;
}

.quiz-question {
  .custom-checkbox__content {
    position: relative;
    display: block;
  }

  &__item {
    img {
      margin-bottom: var(--small-offset);
    }

    &:not(:last-child) {
      @include mobile {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    margin: 0 0 var(--second-offset);
    font: var(--prehigh-book);
    color: var(--color-main);
  }

  &__answers {
    display: grid;
    grid-auto-rows: 155px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: var(--main-offset);
    gap: var(--second-offset) 70px;

    @include small-tablet {
      gap: var(--second-offset);
    }

    @include mobile {
      display: block;
    }
  }

  &__count {
    font: var(--middle-book);
    color: var(--color-jumbo);
  }

  &__message {
    border: none;
    border-radius: 4px;
    padding: var(--second-offset);
    width: 465px;
    height: 246px;
    color: var(--color-cameo);
    resize: none;
    background: var(--color-white);

    @include mobile {
      width: 100%;
    }
  }
}

.quiz-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid currentColor;
  padding-top: var(--second-offset);
  color: var(--color-jumbo);

  @include mobile {
    display: block;
  }
}

.last-question {
  display: none;
  padding-top: calc(var(--second-offset) + 4px);

  &__form {
    position: relative;
    border-radius: 4px;
    padding: var(--main-offset);
    max-width: 655px;
    background-color: var(--color-cameo);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: var(--color-white);

    @include mobile {
      font-size: rem-calc(24);
      line-height: rem-calc(30);
    }
  }

  &__descr {
    margin: 0 0 var(--small-offset);
    margin-bottom: var(--second-offset);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--color-white);
  }

  &__input {
    margin-bottom: var(--small-offset);
    max-width: 500px;

    &:last-of-type {
      margin-bottom: var(--second-offset);
    }
  }

  &__btn {
    min-width: 220px;

    @include mobile {
      min-width: auto;
      width: 100%;
    }
  }

  &__decorate {
    position: absolute;
    right: -185px;
    top: -15px;

    @include small-tablet {
      display: none;
    }
  }
}
