header.header.fix-block
    .container.header__container.grid
        .header__left
            a.logo.header__logo SneakMax
        .header__right
            nav.nav.header__nav
                ul.nav__list.list-reset
                    li.nav__item
                        a(href='#').nav__link Каталог
                    li.nav__item
                        a(href='#').nav__link О нас
                    li.nav__item
                        a(href='#').nav__link Подбор товара
                    li.nav__item
                        a(href='#').nav__link Наша команда
                    li.nav__item
                        a(href='#').nav__link Доставка и оплата
                    li.nav__item
                        a(href='#').nav__link Контакаты
            .cart.header__cart
                button.btn-reset.cart__btn
                    svg
                        use(href='img/sprite.svg#cart')
                    .cart__count 1
                .mini-cart
                    .mini-cart__top(data-simplebar)
                        ul.mini-cart__list.list-reset
                            //li.mini-cart__item
                            //    article.mini-cart__product.mini-product
                            //        .mini-product__image
                            //            img(src='img/image.jpeg' alt='')
                            //        .mini-product__content
                            //            .mini-product__text
                            //                h3.mini-product__title
                            //                    | Женские кроссовки Puma Force 1 Shadow
                            //                span.mini-product__price 8 678 р
                            //            button.btn-reset.mini-product__delete(aria-label='Удалить товар')
                            //                svg
                            //                    use(href='img/sprite.svg#trash')
                            //li.mini-cart__item
                            //    article.mini-cart__product.mini-product
                            //        .mini-product__image
                            //            img(src='img/image.jpeg' alt='')
                            //        .mini-product__content
                            //            .mini-product__text
                            //                h3.mini-product__title
                            //                    | Женские кроссовки Puma Force 1 Shadow
                            //                span.mini-product__price 8 678 р
                            //            button.btn-reset.mini-product__delete(aria-label='Удалить товар')
                            //                svg
                            //                    use(href='img/sprite.svg#trash')
                            //li.mini-cart__item
                            //    article.mini-cart__product.mini-product
                            //        .mini-product__image
                            //            img(src='img/image.jpeg' alt='')
                            //        .mini-product__content
                            //            .mini-product__text
                            //                h3.mini-product__title
                            //                    | Женские кроссовки Puma Force 1 Shadow
                            //                span.mini-product__price 8 678 р
                            //            button.btn-reset.mini-product__delete(aria-label='Удалить товар')
                            //                svg
                            //                    use(href='img/sprite.svg#trash')
                    .mini-cart__bottom
                        .mini-cart__total
                            span.mini-cart__txt Итого:
                            span.mini-cart__sum 0 р
                        button.btn-reset.btn.btn--primary.mini-cart__btn(data-graph-path='cart-modal')
                            | Перейти в корзину
