header.header.fix-block
    .container.header__container.grid
        .header__left
            a.logo.header__logo SneakMax
        .header__right
            nav.nav.header__nav
                ul.nav__list.list-reset
                    li.nav__item
                        a(href='#').nav__link Каталог
                    li.nav__item
                        a(href='#').nav__link О нас
                    li.nav__item
                        a(href='#').nav__link Подбор товара
                    li.nav__item
                        a(href='#').nav__link Наша команда
                    li.nav__item
                        a(href='#').nav__link Доставка и оплата
                    li.nav__item
                        a(href='#').nav__link Контакаты
            button.burger.btn-reset
                span.burger__line
            .cart.header__cart
                button.btn-reset.cart__btn(disabled=true)
                    svg
                        use(href='img/sprite.svg#cart')
                    .cart__count 0
                .mini-cart
                    .mini-cart__top(data-simplebar)
                        ul.mini-cart__list.list-reset

                    .mini-cart__bottom
                        .mini-cart__total
                            span.mini-cart__txt Итого:
                            span.mini-cart__sum 0 р
                        button.btn-reset.btn.btn--primary.mini-cart__btn(data-graph-path='cart-modal')
                            | Перейти в корзину
